body {
    background-color: lightgray;
    height: 100%;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    min-height: 70vh;
    display:grid;
    place-items: center;
    .card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 15px;
        background-color: #f9f9f9;

        .title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .body {
            font-size: 16px;
        }
    }
}

/* HTML: <div class="loader"></div> */
.loader-container {
    display: flex;
    justify-content:center;
    align-items: center; //Set the container height to the full viewport height */
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    justify-content: center;
    text-align: center;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
    background:
        radial-gradient(closest-side at 50% 12.5%,
            #f03355 96%, #0000) 50% 0/20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%,
            #f03355 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}

.loader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {
        transform: rotate(1turn)
    }
}
